<div
  class="bg-gradient-to-br rounded-lg shadow-lg p-8 text-center"
  style="
    background: linear-gradient(
      to bottom right,
      var(--accent-color),
      var(--bg-secondary)
    );
    height: 240px;
  "
>
  <h3 class="text-2xl font-bold mb-4">Start a New Project</h3>
  <p class="mb-6 text-primary">
    Kickstart your next big idea by creating a new project.
  </p>
  <button
    (click)="formToggle()"
    id="createProjectBtn"
    class="py-2 px-6 rounded-lg shadow btn text-white"
  >
    Create Project
  </button>
</div>

<p-dialog
  header="Create Project"
  [(visible)]="isVisible"
  [modal]="true"
  [style]="{ width: '25rem' }"
>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
 
  
  <div class="flex items-center gap-4 mb-4">
    <label for="title" class="font-semibold w-24">Title</label>
    <input
      formControlName="title"
      id="title"
      type="text"
      autocomplete="off"
      class="flex-auto p-2 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
    />
  </div>


  
  <div class="flex items-center gap-4 mb-4">
    <label for="description" class="font-semibold w-24">Description</label>
    <textarea
      formControlName="description"
      id="description"
      rows="3"
      cols="25"
      class="flex-auto p-2 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
    ></textarea>
  </div>


  
  <div class="flex items-center gap-4 mb-8">
    <label for="capacity" class="font-semibold w-24">Capacity</label>
    <input
      formControlName="capacity"
      id="capacity"
      type="number"
      class="w-[245px] p-2 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
    />
  </div>

  
  <div class="flex justify-end gap-2">
    <button
      type="button"
      (click)="formToggle()"
      class="px-4 py-2 bg-gray-300 text-gray-800 rounded hover:bg-gray-400"
    >
      Cancel
    </button>
    <button
      type="submit"
      class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
    >
      Save
    </button>
  </div>
</form>

</p-dialog>

<p-toast />
