<div
  class="bg-gradient-to-br rounded-lg shadow-lg p-8 text-center"
  style="
    background: linear-gradient(
      to bottom right,
      var(--accent-color),
      var(--bg-secondary)
    );
    height: 240px;
  "
>
  <h3 class="text-2xl font-bold mb-4">Start a New Project</h3>
  <p class="mb-6 text-primary">
    Kickstart your next big idea by creating a new project.
  </p>
  <button
    (click)="formToggle()"
    id="createProjectBtn"
    class="py-2 px-6 rounded-lg shadow btn text-white"
  >
    Create Project
  </button>
</div>

<p-dialog
  header="Create Project"
  [(visible)]="isVisible"
  [modal]="true"
  [style]="{ width: '25rem' }"
>
  <form [formGroup]="formGroup">
    <div class="flex items-center gap-4 mb-4">
      <label for="username" class="font-semibold w-24">Title</label>
      <input 
      formControlName="title"
      pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>

    <div class="flex items-center gap-4 mb-8">
      <label for="description" class="font-semibold w-24">Description</label>
      <textarea
      formControlName="description"
        pTextarea
        pSize="small"
        id="description"
        cols="25"
        rows="3"
      ></textarea>
    </div>

    <div class="flex justify-end gap-2">
      <p-button (onClick)="formToggle()" label="Cancel" severity="secondary" />
      <p-button (onClick)="onSubmit()" label="Save" />
    </div>
  </form>
</p-dialog>


<p-toast />