.task-card {
  transition: 0;
  border: 1px solid var(--text-primary);
  background-color: var(--bg-secondary);
}

.task-top-div {
  display: flex;
  justify-content: space-between;
}

.open-details-icon {
  visibility: hidden;
  transition: 300ms;
}

.task-card:hover {
  .open-details-icon {
    visibility: visible;
  }
}