<div class="subtask">
  <input
    [ngClass]="{ 'invisible pointer-events-none': !projectRoleService.isCurrentUser(assignedTo()) }"
    [checked]="subTask()?.done"
    (change)="onEditTask()"
    type="checkbox"
    id="toggleCheckbox"
    class="toggle-checkbox"
  />

  <span>
    {{ subTask()?.title }}
  </span>

  <div
  [ngClass]="{ 'invisible pointer-events-none': !projectRoleService.isAdmin() }"
  >
    <button
      (click)="onDeleteTask()"
      class="delete-btn"
      aria-label="Delete subtask"
    >
      <svg
   
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        fill="currentColor"
      >
        <path
          d="M135.2 17.7C141.3 7.4 151.9 0 163.8 0h120.4c11.9 0 22.5 7.4 28.6 17.7L384 64H64L135.2 17.7zM432 96l-34.1 392.2c-2.8 32.1-30 55.8-62.3 55.8H112.4c-32.3 0-59.5-23.7-62.3-55.8L16 96H432z"
        />
      </svg>
    </button>

  </div>

</div>
