<div class="rounded-2xl shadow-lg p-6 box">
    <h3 class="text-2xl font-bold mb-4" style="color: var(--accent-color)">Recent Tasks</h3>
    <ul class="space-y-4">
      <li
        class="bg-[#e9def2] text-[#222831] p-4 rounded-lg flex justify-between items-center hover:shadow-md"
      >
        <span class="font-medium text-black">Fix navigation issues</span>
        <button class="py-1 px-3 rounded-lg btn text-white">View</button>
      </li>
      <li
        class="bg-[#e9def2] text-[#222831] p-4 rounded-lg flex justify-between items-center hover:shadow-md"
      >
        <span class="font-medium text-black">Update project timelines</span>
        <button class="py-1 px-3 rounded-lg btn text-white">View</button>
      </li>
    </ul>
  </div>