<div>
  <div class="main-container">

    @for (usersFeed of usersFeeds; track $index) {
      
      @if (usersFeed.stream) {
        <div class="person">
          <div class="video-card-container">
            <video 
            [srcObject]="usersFeed.stream"
            class="video" autoplay="true" id="videoElement"></video>
          </div>
    
          <div class="nameyou">{{ usersFeed.userName }}</div>
        </div>
      }
     }

    <app-user-feed-card></app-user-feed-card>
    
  </div>
</div>


<app-bottom-dock></app-bottom-dock>