
<div class="container-body">

    <app-video-calls-card></app-video-calls-card>
    
    <div class="controls">
      <button class="control-btn" id="muteBtn"><i class="fas fa-microphone-slash"></i></button>
      <button class="control-btn" id="videoBtn"><i class="fas fa-video"></i></button>
      <button class="control-btn" id="participantsBtn"><i class="fas fa-users"></i></button>
      <button class="control-btn" id="followBtn">Follow</button>
      <button class="control-btn" id="inspireBtn">Inspire</button>
      <button class="control-btn red-btn" id="leaveBtn"><i class="fas fa-phone"></i></button>
    </div>

</div>

