<div>
  <div class="main-container">

    @for (usersFeed of usersFeeds; track $index) {
      
      @if (usersFeed.stream) {
        <div class="person">
          <div class="video-card-container">
            <video 
            [srcObject]="usersFeed.stream"
            class="video" autoplay="true" id="videoElement"></video>
          </div>
    
          <div class="nameyou">{{ usersFeed.userName }}</div>
        </div>
      }
     }


    


    <app-user-feed-card></app-user-feed-card>
  </div>
</div>

<div class="bg-dark-gray footer">
  <div></div>

  <div class="controls meeting-controls">
    <div class="bg-red icon">
      <span class="icon-span bx bxs-microphone-off"></span>
    </div>

    <div class="bg-gray icon">
      <i class="icon-span bx bxs-video"></i>
    </div>

    <div class="bg-blue icon">
      <i class="icon-span bx bx-desktop"></i>
    </div>

    <div class="bg-gray icon">
      <i class="icon-span bx bxs-share"></i>
    </div>

    <div class="bg-red icon">
      <i class="icon-span bx bxs-phone-off"></i>
    </div>
  </div>

  <div class="controls meeting-chat">
    <div class="icon"><i class="fas fa-info"></i></div>
    <div class="icon"><i class="fa-solid fa-user-group"></i></div>
    <div class="icon"><i id="myBtn" class="fas fa-message"></i></div>
    <div class="icon"><i class="fa-solid fa-shapes"></i></div>
  </div>
</div>
