<div [ngClass]="{ expander: isToggled() }" class="container">
  <div>
    <div [ngClass]="{ show: isToggled() }" class="l-navbar" id="navbar">
      <nav class="nav">
        <div>
          <a class="nav__logo">
            <i 
            [routerLink]="['']"
            class="bx bxs-grid nav__logo-icon  cursor-pointer"></i>
            <span class="nav__logo-text">Team Base</span>
          </a>

          <div
            [ngClass]="{ hidden: !isToggled() }"
            class="nav__toggle rotate"
            id="nav-toggle"
          >
            <i (click)="toggle()" class="bx bx-chevron-right"></i>
          </div>

          <ul class="nav__list">
            <a
              [routerLink]="['/project', projectId(), 'dashboard']"
              class="nav__link active"
            >
              <i class="bx bx-pie-chart-alt-2 nav__icon"></i>
              <span class="nav__text">Dashboard</span>
            </a>
            <a class="nav__link">
              <i class="bx bx-task nav__icon"></i>
              <span class="nav__text">Tasks</span>
            </a>
            <a class="nav__link">
              <i class="bx bx-chat nav__icon"></i>
              <span class="nav__text">Chat</span>
            </a>
            <a
              [routerLink]="['/project', projectId(), 'members']"
              class="nav__link"
            >
              <i class="bx bx-user nav__icon"></i>
              <span class="nav__text">Members</span>
            </a>
            <div class="nav_line">
              <hr />
            </div>

            <a class="nav__link">
              <i class="bx bx-note nav__icon"></i>
              <span class="nav__text">Notes</span>
            </a>
            <a class="nav__link">
              <i class="bx bx-chalkboard nav__icon"></i>
              <span class="nav__text">White Board</span>
            </a>
          </ul>
        </div>
        <a (click)="toggle()" class="nav__link">
          <i
            [ngClass]="{ rotate: !isToggled() }"
            class="bx bx-log-out-circle nav__icon"
          ></i>
          <span class="nav__text">Close</span>
        </a>
      </nav>
    </div>
  </div>
</div>

<div class="top-navbar">
  <div class="top_nav_inner">
    <div class="top_nav_content">
      <i class="bx bx-bell nav__icon bell_icon"></i>
    </div>
    <img
      (click)="toggleProfile()"
      src="https://www.pngitem.com/pimgs/m/504-5040528_empty-profile-picture-png-transparent-png.png"
      class="top_nav_content"
    />

    @if (isProfileToggled()) {
    <div class="top_nav_profile_popup">
      <div class="top_nav_profile_popup_card">
        <i class="bx bx-user nav__icon"></i>
        <span>Profile</span>
      </div>
      <div class="top_nav_profile_popup_card">
        <i class="bx bx-log-out nav__icon"></i>
        <span>Logout</span>
      </div>
    </div>
    }
  </div>
</div>

<div [ngClass]="{ expand: isToggled() }" class="content-div">

  <ng-content></ng-content>

  
</div>
