<div [ngClass]="{ expander: isToggled() }" class="container">
  <div>
    <div [ngClass]="{ show: isToggled() }" class="l-navbar" id="navbar">
      <nav class="nav">
        <div>
          <a class="nav__logo">
            <i
              [routerLink]="['/dashboard']"
              class="bx bxs-grid nav__logo-icon cursor-pointer"
            ></i>
            <span class="nav__logo-text">Team Base</span>
          </a>

          <div
            [ngClass]="{ hidden: !isToggled() }"
            class="nav__toggle rotate"
            id="nav-toggle"
          >
            <i (click)="toggle()" class="bx bx-chevron-right"></i>
          </div>

          <ul class="nav__list">
            <a
              routerLinkActive="active"
              [routerLink]="['/project', projectId(), 'dashboard']"
              routerLinkActive="active"
              class="nav__link"
            >
              <i class="bx bx-pie-chart-alt-2 nav__icon"></i>
              <span class="nav__text">Dashboard</span>
            </a>
            <a
              routerLinkActive="active"
              [routerLink]="['/project', projectId(), 'tasks']"
              class="nav__link"
            >
              <i class="bx bx-task nav__icon"></i>
              <span class="nav__text">Tasks</span>
            </a>
            <a
              routerLinkActive="active"
              [routerLink]="['/project', projectId(), 'chats']"
              class="nav__link"
            >
              <i class="bx bx-chat nav__icon"></i>
              <span class="nav__text">Chat</span>
            </a>
            <a
              routerLinkActive="active"
              [routerLink]="['/project', projectId(), 'members']"
              class="nav__link"
            >
              <i class="bx bx-user nav__icon"></i>
              <span class="nav__text">Members</span>
            </a>
            <div class="nav_line">
              <hr />
            </div>

            <a 
            routerLinkActive="active"
            [routerLink]="['/project', projectId(), 'notes']"
            class="nav__link">
              <i class="bx bx-note nav__icon"></i>
              <span class="nav__text">Notes</span>
            </a>

            <!-- <a class="nav__link">
              <i class="bx bx-chalkboard nav__icon"></i>
              <span class="nav__text">White Board</span>
            </a> -->
          </ul>
        </div>
        <a (click)="toggle()" class="nav__link">
          <i
            [ngClass]="{ rotate: !isToggled() }"
            class="bx bx-log-out-circle nav__icon"
          ></i>
          <span class="nav__text">Close</span>
        </a>
      </nav>
    </div>
  </div>
</div>

<div class="top-navbar">
  <div class="top_nav_inner">
    <div class="top_nav_content theme_switch_box">
      <div (click)="onThemeToggle()" class="them_switch_div">
        @if (isDarkMode()) {
        <i class="bx bx-sun nav__icon bell_icon"></i>
        } @else {
        <i class="bx bx-moon nav__icon bell_icon"></i>
        }
      </div>
    </div>

    <div class="top_nav_content">

      <app-notification></app-notification>
    </div>

    @if (user()?.profile) {
    <img
      (click)="toggleProfile()"
      [src]="user()?.profile"
      alt="Profile"
      class="w-8 h-8 rounded-full"
    />
    } @else {
    <i (click)="toggleProfile()" style="font-size: 1.6rem;" class="bx bx-user"></i>
    } 
    
    @if (isProfileToggled()) {
    <div class="top_nav_profile_popup">
      <div [routerLink]="['/dashboard/profile']" class="top_nav_profile_popup_card">
        <i class="bx bx-user nav__icon"></i>
        <span>Profile</span>
      </div>
      <!-- <div class="top_nav_profile_popup_card">
        <i class="bx bx-log-out nav__icon"></i>
        <span>Logout</span>
      </div> -->
    </div>
    }
  </div>
</div>

<div style="margin-top: 55px;">
  <router-outlet />
</div>