<div class="mb-8">
    <h3 class="text-lg font-semibold text-[var(--text-primary)] mb-4 flex items-center">
      <span class="w-2 h-2 bg-blue-400  rounded-full mr-2"></span>
      To Do
    </h3>
    <div class="space-y-4">
      @if (todos && todos.length > 0) {
        @for (todo of todos; track todo._id) {
          <div class="bg-[var(--secondary-next)] p-4 rounded-lg border-l-2 border-blue-400 hover:bg-[var(--bg-primary)] transition-colors duration-200 shadow-md">
            <div class="flex justify-between items-start">
              <h4 class="text-[var(--text-primary)] font-medium"> {{ todo.title }} </h4>
              <span class="text-xs bg-[#2a4169] text-blue-200 px-2 py-1 rounded-full">Todo</span>
            </div>
            <p class="text-sm text-gray-400 mt-2">Due: {{ todo.deadline | date }} </p>
          </div>
        }
      } @else {
          <div class="bg-[var(--secondary-next)] p-4 rounded-lg border border-[#273c5a] text-center shadow-md">
            <p class="text-[var(--text-primary)]">No tasks to do</p>
          </div>
    }
    </div>
  </div>
  
  <div class="mb-8">
    <h3 class="text-[var(--text-primary)] text-lg font-semibold mb-4 flex items-center">
      <span class="w-2 h-2 bg-amber-400 rounded-full mr-2"></span>
      In Progress
    </h3>
    <div class="space-y-4">
      @if (progresss && progresss.length > 0) {
        @for (progress of progresss; track progress._id) {
          <div class="bg-[var(--secondary-next)] p-4 rounded-lg border-l-2 border-amber-400 hover:bg-[var(--bg-primary)] transition-colors duration-200 shadow-md">
            <div class="flex justify-between items-start">
              <h4 class="text-[var(--text-primary)] font-medium"> {{ progress.title }} </h4>
              <span class="text-xs bg-[#3d3426] text-amber-200 px-2 py-1 rounded-full">In Progress</span>
            </div>
            <p class="text-sm text-gray-400 mt-2">Due: {{ progress.deadline | date }} </p>
          </div>
        }
      } @else {
        <div class="bg-[var(--secondary-next)] p-4 rounded-lg border border-[#273c5a] text-center shadow-md">
          <p class="text-[var(--text-primary)]">No tasks in progress</p>
        </div>
      }
    </div>
  </div>