<div
class="flex items-center bg-[color:var(--bg-secondary)] hover:bg-[color:var(--second-color)] p-2 rounded-md mt-2"
>
<div class="relative">
  <div
    class="w-8 h-8 rounded-full bg-gray-700 flex items-center justify-center"
  >
    <i class="fas fa-user text-gray-400"></i>
  </div>
  <div
    class="absolute bottom-0 right-0 w-2 h-2 bg-gray-500 rounded-full"
  ></div>
</div>
<div class="ml-2 flex-1">
  <div
    class="text-sm font-medium text-[color:var(--text-primary)]"
  >
    {{ member().userId.full_name}}
  </div>
  <div class="text-xs text-gray-400">[ {{ member().role }} ]</div>
</div>
</div>