<div class="card">
  <div class="profile-icon">
    <svg viewBox="0 0 24 24">
      <path
      d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
      />
    </svg>
  </div>
  <div class="profile-info">
    <h3 class="name text-white">{{ member().userId.full_name }}</h3>
    <p class="email">{{ member().userId.email }}</p>
    <span class="role">{{ member().role }}</span>
  </div>
  <div class="profile-icons-div">

    @if (projectRole === 'project_manager') {
      <i (click)="onOpenForm()" class='edit-icon profile-icons bx bx-edit'></i>
      <i (click)="onOpenDeleteDialoge()" class='x-icon profile-icons bx bx-x'></i>
    }
  </div>
</div>


<app-role-change-form [userId]="member().userId._id" [isVisible]="isEditFormVisible" (closeForm)="onCloseForm($event)"></app-role-change-form>


<app-delete-user-dialoge [isVisible]="isDeleteDialogeVisible" (closeDialoge)="onCloseDeleteDialoge($event)" (removeUser)="RemoveUser()"></app-delete-user-dialoge>