<!-- Chat -->
<div class="w-full">
  <!-- Messages area -->
  <div
    style="height: 79%"
    class="w-full flex-1 overflow-y-auto p-4 space-y-4 bg-[color:var(--bg-secondary)]"
    id="messages"
  >
    <!-- messages will be added here -->

    @for (message of messages; track message.time) { @if
    (message.senderId=== user.id) {
    <app-user-chat
      [chat]="message"
      [profile]="user.profile"
      [role]="role"
    ></app-user-chat>

    } @else {

    <app-receiving-chat
      [chat]="message"
      [member]="getProjectMemberById(message.senderId)"
    ></app-receiving-chat>
    } }
  </div>

  <app-input (message)="onSendMessage($event)"></app-input>
</div>
