.board {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

:host {
    width: 100%;
}

.column {
    width: 30%;
}

@media (max-width: 1080px) {
.column {
    width: 40%;
}
}

@media (max-width: 840px) {
.column {
    width: 80%;
}
}