<div class="bg-dark-gray footer">
  <div></div>

  <div class="controls meeting-controls">
    <div
      [ngClass]="{ 'bg-green-700': !isMuted() , 'bg-red-700': isMuted()}"
      class="icon"
    >
      @if (isMuted()) {
      <span
        (click)="toggleMuted()"
        class="icon-span bx bxs-microphone-off"
      ></span>
      } @else {
      <span (click)="toggleMuted()" class="icon-span bx bxs-microphone"></span>
      }
    </div>

    <div class="bg-gray icon">
      <i class="icon-span bx bxs-video"></i>
    </div>

    <div class="bg-blue icon">
      <i class="icon-span bx bx-desktop"></i>
    </div>

    <div class="bg-gray icon">
      <i class="icon-span bx bxs-share"></i>
    </div>

    <div class="bg-red icon">
      <i class="icon-span bx bxs-phone-off"></i>
    </div>
  </div>

  <div class="controls meeting-chat">
    <div class="icon"><i class="fas fa-info"></i></div>
    <div class="icon"><i class="fa-solid fa-user-group"></i></div>
    <div class="icon"><i id="myBtn" class="fas fa-message"></i></div>
    <div class="icon"><i class="fa-solid fa-shapes"></i></div>
  </div>
</div>
