<div
    
  class="bg-gradient-to-br rounded-lg shadow-lg p-8 text-center"
  style="
    background: linear-gradient(
      to bottom right,
      var(--accent-color),
      var(--bg-secondary)
    );
    height: 240px;
  "
>
  <h3 class="text-2xl font-bold mb-4">Start a New Project</h3>
  <p class="mb-6 text-primary">Kickstart your next big idea by creating a new project.</p>
  <button
    id="createProjectBtn"
    class="py-2 px-6 rounded-lg shadow btn text-white"
  >
    Create Project
  </button>
</div>
