@if (isLoading) {

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
        <div class="bg-gray-800 p-4 rounded-lg">
            <h3 class="text-gray-400 mb-2">To Do</h3>
            <div class="h-8 w-16 bg-gray-700 rounded-md animate-pulse"></div>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg">
            <h3 class="text-gray-400 mb-2">In Progress</h3>
            <div class="h-8 w-16 bg-gray-700 rounded-md animate-pulse"></div>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg">
            <h3 class="text-gray-400 mb-2">Completed</h3>
            <div class="h-8 w-16 bg-gray-700 rounded-md animate-pulse"></div>
        </div>
    </div>

} @else {
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
        <div class="bg-[var(--bg-secondary)] p-4 rounded-lg">
            <h3 class="text-gray-400 mb-2">To Do</h3>
            <p class="text-2xl font-bold"> {{ todo }} </p>
        </div>
        <div class="bg-[var(--bg-secondary)] p-4 rounded-lg">
            <h3 class="text-gray-400 mb-2">In Progress</h3>
            <p class="text-2xl font-bold"> {{ progress }} </p>
        </div>
        <div class="bg-[var(--bg-secondary)] p-4 rounded-lg">
            <h3 class="text-gray-400 mb-2">Completed</h3>
            <p class="text-2xl font-bold"> {{ done }} </p>
        </div>
    </div>
}




