<div
  class="rounded-lg shadow-lg p-6"
  style="background-color: var(--bg-secondary)"
>
  <h3 class="text-2xl font-bold mb-4" style="color: var(--accent-color)">
    Your Projects
  </h3>
  <ul class="space-y-4">
    <li
      class="bg-[#e9def2] text-[#222831] p-4 rounded-lg flex justify-between items-center hover:shadow-md"
    >
      <span class="text-black">Redesign Company Website</span>
      <button class="py-1 px-3 rounded-lg btn text-white">Open</button>
    </li>
    <li
      class="bg-[#e9def2] text-[#222831] p-4 rounded-lg flex justify-between items-center hover:shadow-md"
    >
      <span class="font-medium text-black">Develop Mobile App</span>
      <button class="py-1 px-3 rounded-lg btn text-white">Open</button>
    </li>
  </ul>
</div>
