<app-project-nav-bar>
  <div class="container">
    <div class="header">
      <h1 class="title">Team Members</h1>

      <div class="flex gap-2">
        @if (role() === 'project_manager') {
        <button
          (click)="formToggle()"
          type="button"
          style="padding: 0 10px"
          class="text-white bg-gradient-to-r p-3 from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-10 py-2.5 text-center me-2 mb-2"
        >
          + Invite Member
        </button>
        }

        <select class="role-filter" id="roleFilter">
          <option value="all">All Roles</option>
          <option value="project_manager">Project Manager</option>
          <option value="developer">Developer</option>
          <option value="designer">Designer</option>
          <option value="qa_engineer">QA Engineer</option>
        </select>
      </div>
    </div>

    <!-- <div class="team-grid" id="teamGrid"></div> -->

    <div class="container">
      <div class="cards-grid">
        @for (profile of profiles; track profile.email) {
        <div class="card">
          <div class="profile-icon">
            <svg viewBox="0 0 24 24">
              <path
                d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
              />
            </svg>
          </div>
          <div class="profile-info">
            <h3 class="name text-white">{{ profile.name }}</h3>
            <p class="email">{{ profile.email }}</p>
            <span class="role">{{ profile.role }}</span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>

  <p-dialog
    header="Invite Member"
    [(visible)]="isVisible"
    [modal]="true"
    [style]="{ width: '20rem' }"
    [contentStyle]="{
      padding: '2rem',
      height: '20rem'
    }"
    [closable]="false"
  >
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="p-fluid">
        <div class="p-field mb-4">

          <div class="flex gap-3 flex-col" style="margin-top: -30px">
            <label for="email-add" class="block text-lg font-medium mb-2"
              >Email</label
            >
            <p-autocomplete
              id="email-add"
              [(ngModel)]="selectedItem"
              [suggestions]="filteredItems"
              (completeMethod)="search($event)"
              delay="300"
              placeholder="Search..."
              size="large"
            />
          </div>

          <div class="p-field mb-6 flex gap-3 flex-col" style="width: 240px; margin-top: 1.2rem">
            <label for="role" class="block text-lg font-large mb-2">Role</label>

            <p-dropdown
              [(ngModel)]="selectedRole"
              [options]="roles"
              optionLabel="label"
              name="role"
              id="role"
              placeholder="Select a role"
              size="large"
              [style]="{
              width: '253px',
            }"
            >
            </p-dropdown>
          </div>

          <div class="flex justify-end gap-4" style="margin-top: 1.5rem;">
            <p-button
              type="button"
              (onClick)="formToggle()"
              label="Cancel"
              severity="secondary"
              class="p-button-text"
            ></p-button>
            <p-button
              type="submit"
              label="Save"
              class="p-button-success"
            ></p-button>
          </div>


        </div>

      </div>

    </form>
  </p-dialog>

  <p-toast />
</app-project-nav-bar>
