.dropdown-menu {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.text-primary {
  color: var(--text-primary);
}

header {
  background-color: var(--bg-secondary);
}
.btn {
  background-color: var(--accent-color);
}
.btn:hover {
  background-color: var(--hover-accent);
}

.theme-toggle {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transition: 400ms ease-out;
}

.theme-toggle-dark {
  background-color: rgb(255, 255, 255);
}

.theme-toggle-dark:hover {
  background-color: rgb(169, 152, 152);
}

.theme-toggle-light {
  background-color: rgb(0, 0, 0);
}

.toggle-icon {
  font-size: 1.5rem;
}
