.subtask:hover {
  .add_task_btn {
    visibility: visible;
  }
}

.add_task_btn {
  margin-left: 5px;
  transition: 300ms;
  padding: 0 7px;
  border-radius: 50%;
  border: 1px solid rgba(255, 0, 0, 0);
  visibility: hidden;
}

.add_task_btn:hover {
  background-color: rgba(245, 231, 231, 0);
  border: 1px solid red;
}

.subtask_title_div {
  display: flex;
  align-items: center;
}

#subtasks-container {
  margin-top: 10px;
}