<div
class="bg-[color:var(--second-navbar)] border-b border-[color:var(--text-primary)] p-3.5"
>
<div class="flex items-center justify-between">
  <div class="flex items-center">
    <!-- <div
      class="w-10 h-10 rounded-full bg-blue-900 flex items-center justify-center"
    >
      <i class="fas fa-code text-blue-400"></i>
    </div> -->
    <!-- <div class="ml-3">
      <div class="flex items-center">
        <h3 class="font-medium text-[color:var(--text-primary)]">
          Frontend Team
        </h3>
      </div>
      <p class="text-sm text-[color:var(--accent-color)]">5 members</p>
    </div> -->
  </div>
  <div class="flex space-x-4">
    
    <button
      (click)="onShowVideoCallPopup()"
      class="video-icon-button p-2 hover:bg-gray-700 rounded-full text-gray-300 hover:text-white"
    >
    <i class='video-icon bx bxs-video'></i>
      </button>
  </div>
</div>
</div>

@if (showVideoCallPopup()) {
  <app-confirm-video-dialoge (close)="onCloseVideoCallPopup()"></app-confirm-video-dialoge>
}
