.member-filter {
  width: 200px;
  padding: 7px;
  font-size: 16px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
  cursor: pointer;
}

.member-filter:focus {
  border-color: #45a049;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

:host {
  width: 100%;
}

.header {
  padding: 0 10px;
}

@media (max-width: 640px) {
  .add-task-span{
    display: none;
  }
}