<div class="header">
  <h1>Project Tasks</h1>

  <div
    class="header-options-div"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    "
  >
    @if (role !== 'developer') {
    <button (click)="onFormOpen()" class="add-task-btn">
      <svg
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
      <span class="add-task-span">
        Add Task

      </span>
    </button>
    }

    <select (change)="onDropChange($event)" [(ngModel)]="members" class="member-filter">
      <option value="null" selected>All Member</option>

      @for (Member of Members; track Member.userId._id) {
      <option [value]="Member.userId._id">{{ Member.userId.full_name }}</option>
      }
    </select>
  </div>
</div>

<app-add-task-form
  [isVisible]="isFormVisible()"
  (closeForm)="onFormClose($event)"
></app-add-task-form>
