<div class="h-screen bg-black">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 bg-black p-5">
      <div class="video-box w-full flex justify-center">
          <video src=""></video>
      
      </div>
  
      <div class="video-box w-full flex justify-center">
        <img src="/api/placeholder/80/80" alt="User 1" class="w-full max-w-[80px]" />
      </div>
  
      <div class="video-box w-full flex justify-center">
        <img src="/api/placeholder/80/80" alt="User 1" class="w-full max-w-[80px]" />
      </div>
  
      <div class="video-box w-full flex justify-center">
        <img src="/api/placeholder/80/80" alt="User 1" class="w-full max-w-[80px]" />
      </div>
    </div>
  </div>