<style>
  :host {
    position: relative;
    bottom: 0;
    margin-bottom: -100px;
  }
</style>

<div
  class="bg-[color:var(--bg-secondary)] border-t border[color:var(--text-primary)] p-4"
>
  <div>
    <form class="flex items-center space-x-2">
      <input
        [(ngModel)]="input"
        type="text"
        name="message"
        class="flex-1 bg-[color:var(--bg-secondary)] border border-[color:var(--text-primary)] rounded-lg px-4 py-2 text-[color:var(--text-primary)] placeholder-gray-400 focus:outline-none focus:border-blue-500"
        placeholder="Type your message..."
      />
      <button
        (click)="onSendMessage()"
        type="submit"
        class="p-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700"
      >
        <i class="bx bx-send"></i>
      </button>
    </form>
  </div>
</div>
