<app-admin-navbar>
  <section class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
    <div
      class="bg-gradient-to-r from-teal-500 to-blue-500 p-6 rounded-lg shadow-lg"
    >
      <h3 class="text-xl font-bold">Total Users</h3>
      <p class="text-3xl mt-2">1,234</p>
    </div>
    <div
      class="bg-gradient-to-r from-green-500 to-teal-500 p-6 rounded-lg shadow-lg"
    >
      <h3 class="text-xl font-bold">Active Users</h3>
      <p class="text-3xl mt-2">1,120</p>
    </div>
    <div
      class="bg-gradient-to-r from-red-500 to-orange-500 p-6 rounded-lg shadow-lg"
    >
      <h3 class="text-xl font-bold">Blocked Users</h3>
      <p class="text-3xl mt-2">114</p>
    </div>
  </section>

  <section class="bg-gray-800 p-6 rounded-lg shadow-lg">
    <div style="display: flex; align-items: center; justify-content: space-between; gap: 10px;">
      <h2 class="text-2xl font-bold mb-4">User List</h2>

      <input
      [(ngModel)]="keyword"
      (input)="reLoadUsers()"
      style="margin-top: -20px;"
        type="text"
        placeholder="Search..."
        class="hidden md:block py-2 px-4 bg-gray-1000 rounded-lg text-gray-300 focus:ring-2 focus:ring-teal-400"
      />
    </div>

    <table class="w-full text-left">
      <thead class="bg-gray-700">
        <tr>
          <th class="p-4">Name</th>
          <th class="p-4">Email</th>
          <th class="p-4">Status</th>
          <th class="p-4">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (user of usersData(); track user._id) {

        <tr app-user-list [user]="user" class="border-b border-gray-700"></tr>
        }
      </tbody>
    </table>

    
    <div class="flex" style="width: 100%; align-items: center; justify-content: flex-end; margin-top: 20px;">
      <!-- Previous Button -->
      <a 
      (click)="onPrevSkip()"
      class="flex items-center cursor-pointer justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
        </svg>
        Previous
      </a>
      <a 
      (click)="onNestSkip()"
      class="flex items-center cursor-pointer justify-center px-3 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        Next
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>

  </section>


</app-admin-navbar>
