/* Talwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  height: 100vh;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}


/* Dashboard */

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
