:root {
  --bg-primary: #10151a;
  --bg-secondary: #12192c;
  --first-color: #12192c;
  --second-color: #4f0f8f;
  --text-primary: #e5e5e5;
  --accent-color: #829ee4;
  --hover-accent: #122b6c;
  --button-color: #1a1f26;
  --muted-bg: #16191e;
  --neutral-gray: #8c8c8c;
  --second-navbar: #1f2937;
  --secondary-next: #1c2b41;
}

body.dark {
  --white-color: #e5e5e5;
  --button-hover: #ffd966;
  --grey-color: #8c8c8c;
  --grey-color-light: #606672;
}
