<div class="flex items-start mt-4">
  <div class="flex-shrink-0">
    @if (member()?.userId?.profile) {
      <img
        class="w-8 h-8 rounded-full bg-gray-700"
        [src]="member()?.userId?.profile"
        alt=""
      />
      } @else {
      <div
        class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-700"
      >
        <i class="text-[1.6rem] text-white bx bx-user"></i>
      </div>
      }
  </div>
  <div class="ml-3">
    <div class="flex items-center">
      <span class="text-[color:var(--text-primary)] text-sm font-medium"
        >{{ member()?.userId?.full_name?.split(' ')?.[0] }}</span
      >
      <span class="text-xs text-gray-500 mx-2">{{ chat().time }}</span>
      <span class="ml-2 text-xs text-blue-400">[{{ member()?.role }}]</span>
    </div>
    <div class="mt-1 max-w-xs sm:max-w-md bg-gray-700 rounded-lg p-3">
      <p class="text-white">
        {{ chat().text }}
      </p>
    </div>
  </div>
</div>
